[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
sqlalchemy = "*"
eralchemy = "*"
pandas = "*"

[requires]
python_version = "3.6"

[scripts]
diagram="python3 src/models.py"
